{
    "presets": ["stage-0"],
    "plugins": [
      "transform-async-to-generator",
      "transform-es2015-classes",
      "transform-es2015-modules-commonjs",
      "transform-export-extensions"
    ]
}